@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  font-family: "Quicksand", sans-serif;
}
/* NAVBAR */

.links{
  padding: 10px 20px;
  display: inline-block;
}

.links:hover {
  background-color: #38726C;
  text-decoration: underline;
  text-decoration-color: #EDE7D9;
  text-decoration-thickness: 0.3px;

}

.nav-text{
  color:#EDE7D9;
  text-decoration: none;
}

#Navbar{
  width: 100%;
  margin: auto;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #38726C;
  position: sticky;
  top: 0;
}

#NavbarLogo{
  height: 100px;
  width: 170px;
  padding-left: 20px;
}
/* HEADER BILDET*/

#Header{
  height: 25%;
    width: 100%;
}

h1{
  display: none;
}

/* Hoveddel */

body{
  background-color:rgb(255,220,0);
  margin:0px
}

.PageTitle{
    position: relative;
    
}
.TekstStørrelse{
  font-size: x-large;
  padding: 10px;
  border-radius: 10px;
  }

  /* Layout for introtekst og navigasjon til booking-page  */
  #rad1{
    display: grid;
    grid-template-columns: 50% 50%;
    
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;

    font-size: 20px;
    padding-bottom: 5%;
  }

    /* Layout for mest soglte rett */
  #rad2{
    display: grid;
    grid-template-columns: 50% 50%;
    
    text-align: center;

    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
  }

  /* Navigasjon når det er mindre strrelse på vinduet */
  @media screen and (max-width: 1100px) {
    
    #rad1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 5%;
        
        padding-left: 2%;
        padding-right: 2%;

        font-size: 20px;
        padding-bottom: 5%;

        text-align: center;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
    #rad2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 10%;
        
        padding-left: 2%;
        padding-right: 2%;
       
    
        font-size: 20px;
        padding-bottom: 15%;

        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      #infotekst{
        padding-left: 0px;
      }
    

      #booking{
       
        padding-right: 0px;
        margin-top: 0px;
        font-size: 30px;

       margin-right: -45%;
      }
    
      #bookingTekst{
        font-size: 30px;
        color: #B7410E;
      }
    
      #meny{
        padding-left: 0px;
        padding-top: 0px;
       margin-left: -30%;
      }
    
      #linje{
        width: 100%;
    }
    
      #bestselger{
       padding-right: 0px;
       font-size: 30px;
        color: grey;
        margin-right: -50%;
      }
    
      #bestselgerBilde{
        border-radius: 6px;
        max-width: 150px;
        max-height: 100px;
        margin-left: -10%;
    
      }
  }

    /* Velkommen til vår restaurant tekst */
  #infotekst{
    padding-left: 20%;
  }

/*booking and menu shortcuts*/
  #booking{
    padding-right: 20%;
    margin-top: -3%;
    font-size: 30px;
  }

  #bookingTekst{
    font-size: 30px;
    color: #B7410E;
  }

  /* Navigasjon til meny */
  #meny{
    padding-left: 60%;
    padding-top: 15%;
  }

  #linje{
    width: 50%;
}

  #bestselger{
   padding-right: 50%;
   font-size: 30px;
    color: grey;
  }

  #bestselgerBilde{
    border-radius: 6px;
    min-width: 350px;
    min-height: 300px;
    max-width: 350px;
    max-height: 300px;
    box-shadow: 10px 10px 8px 10px #888888;
  }

  /* Knapp til meny */
  #toMenu{
    color: red;
    background-image: linear-gradient(to left, #01eeff2c, #01ffff33, #01eeff00);
    font-size: 25px;
    border-radius: 20px;
}

/* Knapp til booking-page */
#toBooking{
    color: green;
    background-image: linear-gradient(to left, #01eeff2c, #01ffff33, #01eeff00);
    font-size: 25px;
    border-radius: 20px;
}

/* FOOTER */

footer {
  height: 400px;
  background-color:#38726C;
  color: white;
  text-align: center;
  font-size: 15px;
}   

*{
  font-family: "Quicksand", sans-serif;
}