/*Importing font we want to use*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: "Quicksand", sans-serif;
    margin: 0; /*to avoid white border around webpage*/
    background-color: #EDE7D9;
}

/* NAVBAR */

.Links{
    padding: 10px 20px;
    display: inline-block;
  }

  .Links:hover {
  
      background-color: #38726C;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0.5px;

  }

  .NavTekst{
      color:black;
    text-decoration: none;
  }


  #Navbar{
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #38726C;
    position: sticky;
    top: 0;
  }

  #NavbarLogo{
    height: 100px;
    width: 150px;
    padding-left: 20px;
  }

  /* HEADER BILDET OG HOVEDOVERSKRIFT*/

  #HovedOverskrift{
    font-size:70px;
    text-align: center;
    padding-top: 3%;
  }

  .TekstStørrelse{
    font-size:x-large;
    padding: 3px;
    padding-left: 5%;
    }

.main-pic{
    width: 100%;
}
.main-text{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    padding-bottom: 5%;
}
.main-text img{
    height: 100%;
    width: 100%;
}
/** Grid (we wanted to have two divs side by side and when the width gets small enough, they go under eachother)**/
.main-box-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 20px;
}
.main-box-1{
    grid-column: 1;
    text-align: center;
    font-size: 20px;
    background-color: #dcbf4e;
    padding-bottom: 5%;
}
.main-box-2{
    grid-column: 2;
    text-align: center;
    font-size: 20px;
    background-color: #d58349;
    padding-bottom: 5%;
}

@media (max-width: 1000px) {
    .main-text {
        display: block;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 20px;
        padding-bottom: 5%;
    }

    .main-box-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .main-box-1 {
        grid-column: 1;
        grid-row: 1; /
    }

    .main-box-2 {
        grid-column: 1;
        grid-row: 2;
    }
}

/* FOOTER */

footer {
    height: 180px;
    background-color:#38726C;
    color: #EDE7D9;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/**Changed the mailto link to be white since the default is dark blue and it clashes with the footer color**/
.mailto-link{
    color: white;
}